body {
    background-color: black;
}
h1,h2 {
    color: yellow;
}
p,ul {
    color: powderblue;
}
img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
th {
	color : white;
	font-style: italic;
	font-family: sans-serif;
}